body
{
    background-color: pink;
}


table
{
    border-collapse: collapse;
}

.square
{
    height: 100px;
    width: 100px;


    padding: 10px;
    margin: 0;

    border: 3px solid black;
}

.white
{
    background-color: white;
}

.blue
{
    background-color: blue;
}

.red
{
    background-color: red;
}